html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(188, 215, 215);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.rigth {
  width: 30vw;
  height: 80vh;
  padding: 1rem;
  background-color: rgb(58, 53, 53);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
ul li {
  list-style: none;
  border-bottom: 4px solid rgb(51, 50, 50);
  text-align: center;
  color: antiquewhite;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;

}
ul li:hover {
  color: red;
  border: 0;
  list-style: none;
  border-bottom: 4px solid rgb(103, 100, 100);

}

.left {
    /* margin: 14rem auto;  */
  width: 70vw;
  height: 80vh;
  padding: 4rem;
  background-color: antiquewhite;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
